*{
    margin: 0;
    padding: 0;
}
.main{
    background-color: #D76E6E;
}
.options{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.options select {
    margin-top: 10px;
    appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
    text-align: center;
    border: 0;
    outline: 0;
    padding: 20px 0px;
    font-size: 14px;
    border-radius: 5px;
    background-color: lightcoral;
  }
.parent{
    display:grid;
    grid-template-columns: auto auto auto auto;
    background-color: #D76E6E;
    justify-content: center;
    align-content: center;
    height: 100vh;
    gap:10px;
  
}
.child{
    background-color: #ad3c3c;
    color: black;
    padding: 20px 0px;
    border-radius: 8px;
    text-align:center;
}
.movieTitle{
    grid-area: 1/1/1/span 4;
    width: 260px;
    text-align: center;
}
.key{
    display: flex;
    align-items: center;
    justify-content: space-around !important;
    /* column-gap:3px; */
}
